/*       HEADER | LOGO       */
.header--logo h1 {
  font-size: 36px;
}

.header--logo h6 {
  font-size: 12px;
}

.header--social-media {
  top: calc(33px - 21px);
}

/*       HEADER | NAV       */
.header--nav {
  margin-top: 0px;
}

/*       MAIN       */
.main--container h2 {
  color: var(--primary-color);
  font-size: 42px;
}

.main--container h5 {
  color: var(--tertiary-color);
}

/*       MAIN | CARDS       */
.main--cards {
  justify-content: center;
}

.cards--profile {
  position: relative;
}

.cards--profile h6 {
  font-size: 25px;
  margin: 0;
}

.cards--profile span {
  color: var(--gray-color);
  font-size: 16px;
}

.profile--image img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}