* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primary-color: #30cc28ff;
  --secondary-color: #aa0000ff;
  --tertiary-color: #232323ff;
  --green-dark-color: #30cc28;
  --white-color: #fff;
  --gray-color: #676666;
}

/*       CAROUSEL       */
#carouselMain {
  padding: 0;
}

#carouselMain .carousel-inner {
  height: 300px;
}

#carouselMain .carousel-inner .carousel-item {
  position: relative;
}

#carouselMain .carousel-inner .carousel-item .carousel--tag {
  position: absolute;
  bottom: 60px;
  left: 5px;
  background-color: var(--primary-color);
  color: var(--white-color);
  align-items: center;
}

#carouselMain .carousel-control-prev,
#carouselMain .carousel-control-next {
  width: 5%;
}

#carouselMain .carousel--tag picture img {
  width: 30px;
}

#carouselMain .carousel--tag p {
  padding: 7.5px 10px;
  margin: 0;
}

/*       HEADER | INFO       */
.header--info {
  justify-content: space-between;
  background-color: var(--tertiary-color);
  color: var(--white-color);
  border-top: 4px solid var(--primary-color);
  padding: 4px 30px 4px 25px;
  align-items: center;
}

.header--info .contact .whatsapp-icon {
  margin: 0 4px 0 20px;
  height: 20px;
}

.header--info .contact .whatsapp-icon img {
  height: 100%;
}

/*       HEADER | LOGO      */
.header--logo {
  position: relative;
}

.header--logo picture img {
  width: 42px;
}

.header--logo h1 {
  color: var(--primary-color);
  font-size: 63px;
  margin: 0;
}

.header--logo h6 {
  color: var(--gray-color);
  font-size: 23px;
}

.header--social-media {
  position: absolute;
  right: 20px;
  top: 25px;
  align-items: center;
}

.header--social-media p {
  margin: 0;
}

.header--social-media picture img {
  width: 42px;
  margin: 0 5px;
}

/*       HEADER | NAV       */
.header--nav {
  margin-top: 20px;
  border-top: 1px solid var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  background-color: var(--white-color);
}

.header--nav ul {
  justify-content: center;
  margin: 0;
  padding: 10px 0;
}

.header--nav ul li {
  list-style: none;
  margin: 0 40px;
}

.header--nav ul li a {
  color: #000;
}

#headerNav.show {
  border-top: 2px solid var(--primary-color);
  display: block;
  position: fixed;
  top: 0;
  left: calc(50% - 570px);
  margin-top: 0;
  z-index: 1;
}
#headerNav.no-visible {
  display: none;
}

/*       MAIN | NEWS | PRINCIPAL      */
.main--container {
  border-bottom: 4px solid var(--green-dark-color);
}

.main--container .main--news .news--principal picture img {
  width: 100%;
}

.main--container .main--news .news--principal {
  border-bottom: 4px solid var(--green-dark-color);
}

/*       MAIN | NEWS | LASTEST         */
.lastest--title {
  color: var(--white-color);
  background-color: var(--secondary-color);
}

/*       MOST READ       */
.most-read--title {
  border-bottom: 1px solid var(--primary-color);
}

.most-read--title h5 {
  background-color: var(--primary-color);
  color: var(--white-color);
  position: relative;
  top: 3px;
}

.most-read--article picture img {
  width: 100%;
}

.most-read--article p {
  color: var(--gray-color);
}

/*       MOST READ | ADVERTISING        */
.most-read--advertising picture img {
  width: 100%;
}

/*       MAIN | INTERNATIONAL | SPORTS & POLICY       */
.international--container,
.sports--container,
.policy--container {
  border-bottom: 4px solid var(--green-dark-color);
}

/*       MAIN | INTERNATIONAL & SPORTS & POLICY SECTIONS ARTICLES  */
.title--section {
  color: var(--white-color);
  background-color: var(--secondary-color);
}

.content--container .content--article picture img {
  width: 100%;
  height: 200px;
}

.content--container .content--article p {
  margin: 0;
}

.content--container .content--article:nth-child(odd) {
  border-right: 1px solid var(--primary-color);
}

/*       MAIN | INTERNATIONAL | MOST READ       */
.most-read--container {
  position: relative;
}

.most-read--container::before {
  content: "";
  border-left: 1px solid var(--primary-color);
  position: absolute;
  height: 94%;
  top: 65px;
  left: 0;
}

.most-read--container::after {
  content: "";
  border-right: 1px solid var(--primary-color);
  position: absolute;
  height: 94%;
  top: 65px;
  right: 0;
}

/*       FOOTER       */
footer {
  height: 240px;
  content: "";
}

/*       FOOTER | SOCIAL MEDIA       */
.footer--social-media picture img {
  width: 42px;
  margin: 0 5px;
}

/*       FOOTER | CONTENT       */
.footer--content li {
  list-style: none;
}

.footer--content li a {
  color: var(--white-color);
}

.footer--content .content--list ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
}

/*       FOOTER | COPYRIGHT       */
.footer--copyright {
  color: var(--white-color);
}